.form-button-style {
    padding: 4px;
    margin: 4px;
    width: 78px;
    height: 34px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color:black;
    cursor: pointer;
}