.Container {
    width: 230px;
    height: 400px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    margin-left: 40px;
    margin-top: 15px;
}

.img {
    width: 230px;
    height: 230px;
}

.Title {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.red {
    background-color: red;
}