.small-img {
    height: 100px;

}

li {
    list-style: none;
}

.remove-button {
    height: 30px;
    width: 80px;
    background-color: lightseagreen;
    color: white;
    border-radius: 3px;
    border: none;
}

.cart-items {
    width: 500px;
    margin-top: 40px;
}



