nav {
    height: 4vw;
    background-color: rgb(75, 75, 75);
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 4vw;
    padding-left: 50%;

  }

  .menu {
      display: flex;
      justify-content: space-around;
      list-style: none;
      vertical-align: middle;
  }

.link-style {
    color: white;
}