.modal-style {
    width: 300px;
    height: 150px;
    position: relative;
    background-color: beige;
    border: 1px solid grey;
    padding-bottom: 20px;
    padding-top: 12px;
    border-radius: 3px;
    box-shadow: rgba(10, 10, 10, 0.418) 1px 1px 7px;
  }
  
  .modal-wrapper {
    width: 100vw;
    display: flex;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  
  .header-style {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;;
      margin-top: 12px;
  }
  
  .cross-style {
    border: none;
    position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  }
  
  .main-text-style {
      margin-top: 33px;
      margin-bottom: 20px;
      font-size: 14px;
      margin-left: 16px;
      margin-right: 16px;
  }