.App {
  text-align: center;
  background-image: url('./images/background.png');
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

.title {
margin: 0px;
font-family: 'Oswald';
font-size: 24px;
padding-top: 30px;
overflow: hidden;
}

.title::after {
  content: '';
  display: inline-block;
	vertical-align: middle;
	width: 630px;
  height: 4px;
  box-sizing: border-box;
  border: 1px dotted rgb(199, 199, 199);
}

.container {
  width: 960px;
  margin: 0 auto;

}

.cards-container {
  display: flex;
}
